.MusicCover {
  height: 128px;
  width: 128px;
  // margin: 0 32px;
  display: block;
  margin: auto;
  position: relative;

  .MusicCover__cover {
    height: 100%;
    width: 100%;
  }

  .MusicCover__logo {
    display: none;
    position: absolute;
    top: calc(50% - 82px / 2);
    left: calc(50% - 82px / 2);
    border-radius: 50%;
    width: 72px;
    height: 72px;
    border: solid 5px #755dd5;
    background-color: #1f1937;
    justify-content: center;
    align-items: center;
    img {
      width: 28px;
      height: 32px;
    }
  }
}

.slick-current {
  margin: 0;

  .MusicCover {
    width: 320px;
    height: 320px;
  }
  .MusicCover__logo {
    display: flex;
  }
}

.slick-slide .MusicCover--selected {
  animation: slidein 1s ease-in-out 3s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.slick-slide {
  height: 320px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
