.timer {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  align-items: center;

  .timer__progress {
    margin: 0 20px;
  }

  .timer__time {
    font-size: 18px;
    font-weight: 300;
    line-height: 2;
    text-align: center;
    color: #9a9b9b;
  }
}
