.SelectedMusic {
  .SelectedMusic__name {
    height: 28px;
    font-family: Gilroy;
    font-size: 36px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }

  .SelectedMusic__author {
    height: 14px;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #6f729c;
  }
}
